:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --heading-text-color: #353430;
  --header-footer-color: #ffc2e6;
  --visibility: none;
  --main-heading-text-color: #353430;
  --button-text-color: #353430;
  --button-hover-color: #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --heading-text-color: #353430;
    --header-footer-color: #ffc2e6;
    --visibility: none;
    --main-heading-text-color: #353430;
    --button-text-color: #353430;
    --button-hover-color: #32312d66;
  }
}
